.banner{



   
     display: flex;
     background-color: #C6E4D6;
     width: 1280px;
     height: 400px;
     padding: 10px;
    
    
}

#color{

    background-color: #006A50;
    width: 270px;
    height: 56px;
}

#immg{

    width: 474px;
    height: 400px;
}
